/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #c3c3c3;
  --color-puple: #4f09b7;
  --color-blue: #1e22c8;
  --color-navy: #001e8d;
  --color-black: #000000;
  --color-dark-gray: #7f7f7f;

  /* Font size */
  --Font-large: 48px;
  --Font-medium: 28px;
  --Font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weigth */
  --wight-bold: 700;
  --wight-semi-bold: 500;
  --wight-regular-bold: 400;

  /* Size */
}

/*Universal tags*/
* {
  box-sizing: border-box;
}

/*Typography*/
h1 {
  font-size: var(--Font-large);
  font-weight: var(--wight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--Font-regular);
  font-weight: var(--wight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-small);
  font-weight: var(--Font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
p {
  font-size: var(--Font-small);
  font-weight: var(--Font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}
