/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #c3c3c3;
  --color-puple: #4f09b7;
  --color-light-puple: #a2abcb;
  --color-dark-puple: #515ea1;
  --color-blue: #1e22c8;
  --color-navy: #001e8d;
  --color-black: #000000;
  --color-dark-gray: #7f7f7f;

  /* Font size */
  --Font-large: 48px;
  --Font-medium: 28px;
  --Font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weigth */
  --wight-bold: 700;
  --wight-semi-bold: 500;
  --wight-regular-bold: 400;

  /* Size */
  --size-border-radius: 4px;

  /*Annimation*/
  --animation-duration: 300ms;
}

/*Universal tags*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-blue);
}

ul {
  padding-left: 0;
  list-style: none;
}

span {
  color: var(--color-white);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*Typography*/
h1 {
  font-size: var(--Font-large);
  font-weight: var(--wight-bold);
  color: var(--color-blue);
  margin: 16px 0px;
}

h2 {
  font-size: var(--Font-medium);
  font-weight: var(--wight-semi-bold);
  color: var(--color-blue);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-small);
  font-weight: var(--Font-regular);
  color: var(--color-blue);
  margin: 8px 0px;
}
p {
  font-size: var(--Font-small);
  font-weight: var(--Font-regular);
  color: var(--color-blue);
  margin: 4px 0px;
}

/*Navbar*/
#navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blue);
  padding: 16px;
  padding-left: 25px;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
}
#navbar.navbar--dark {
  background-color: var(--color-white);
  padding: 0px;
  padding-left: 16px;
  padding-right: 8px;
}

.navbar__menu {
  display: flex;
  font-weight: var(--wight-semi-bold);
}
.navbar__logo {
  font-size: var(--Font-medium);
  font-weight: var(--wight-bold);
}
.navbar__menu__item {
  padding: 8px 15px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}
/*
.navbar__menu__item.active {
  border: 2px solid var(--color-blue);
  border-radius: var(--size-border-radius);
}*/
.navbar__menu__item:hover {
  border-color: var(--color-blue);
  border-radius: var(--size-border-radius);
  background-color: var(--color-white);
}
.navbar__toggle-btn {
  display: none;
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-blue);
}

/*Home*/
#home {
  background: url("imgs/background/3.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  padding-bottom: 50px;
  text-align: center;
}

.home__avatar {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.home__title,
.home__description {
  color: var(--color-blue);
}
.home__description {
  font-weight: var(--Font-regular);
}
.home__contact {
  color: var(--color-blue);
  font-size: var(--Font-regular);
  font-weight: var(--wight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-blue);
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  font-weight: 600;
}
/* Section common*/
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/*About*/
#about {
  /*background: url("imgs/background/2.png") center/cover no-repeat;*/
  background-color: var(--color-navy);
  text-align: center;
  position: relative;
  padding-top: 70px;
}
.about__title {
  color: var(--color-white);
  margin-bottom: 60px;
}
.about__description {
  color: var(--color-white);
  margin-bottom: 10px;
}
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-white);
  border: 3px solid var(--color-white);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-white);
}

.major__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items: center;
}
.school__logo {
  background-color: var(--color-white);
  margin: 0 16px;
  border-radius: 8px;
}
.school__description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-white);
}

.school__name {
  font-size: var(--font-small);
}
.school__period {
  font-size: var(--font-micro);
}

/*skill*/
.skillset {
  display: flex;
  background-color: var(--color-navy);
  color: var(--color-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
  margin: 0;
}
.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
  color: var(--color-white);
}
.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-dark-gray);
}
.skill__value {
  width: 70%;
  height: 4px;
  background-color: var(--color-white);
}
.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-dark-puple);
}
.tools {
  background-color: var(--color-light-puple);
}
.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-blue);
  border-radius: var(--size-border-radius);
  font-size: var(--Font-regular);
  padding: 8px 48px;
  color: var(--color-blue);
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-navy);
  color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 6px;
}
.category__count {
  background-color: var(--color-light-puple);
  border-radius: 50%;
  color: var(--color-white);
  width: 20px;
  height: 20px;
  font-size: var(--font-micro);
  line-height: 22px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration);
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(30px);
}
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 2px;
  background-color: var(--color-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3,
span {
  color: var(--color-blue);
}
.project__description h3::after {
  display: block;
  position: relative;
  left: 50%;
  content: "";
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-blue);
}

/*testimonials*/
#testimonials {
  background-color: var(--color-white);
}

.testimonials {
  margin: 40px;
}
.testimonial {
  display: flex;
  margin: 32px 0;
}
.testimonial i {
  font-size: 200px;
  color: var(--color-navy);
  /*width: 100px;
  height: 100px;*/
  /*border-radius: 50%;*/
}
.testimonial i:nth-child(odd) {
  margin-right: 25px;
}
.testimonial i:nth-child(even) {
  margin-left: 25px;
}
.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}
.testimonial__speech-bubble p {
  color: var(--color-navy);
}
.testimonial__speech-bubble a {
  color: var(--color-navy);
  font-weight: bold;
}

.testimonial__speech-bubble i {
  font-size: var(--Font-medium);
  margin: 10px;
}
.testimonial__rect {
  width: 30px;
  height: 200px;
  margin-right: 60px;
}
.testimonial__rect1 {
  height: 200px;
  margin-right: 60px;
}
.testimonial__rect2 {
  height: 200px;
  margin-left: 20px;
}

.testimonial__people i {
  color: var(--color-dark-white);
}

/*Contact*/
#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--Font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-white);
}

.contact__links i {
  color: var(--color-white);
}

.contact__email i {
  margin-right: 10px;
}

/*Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 40px;
  width: 55px;
  height: 55px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --Font-large: 30px;
    --Font-medium: 18px;
    --Font-regular: 16px;
    --font-small: 12px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 19px;
    right: 16px;
    font-size: var(--Font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }

  .home__avatar {
    width: 200px;
    height: 200px;
  }

  .section {
    padding: 16px;
  }
  #about {
    padding-top: 30px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .about__title {
    margin: 32px;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }
  .category__btn {
    margin: 4px 0;
  }
  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__people i {
    font-size: 50px;
  }
  .testimonial__people i:nth-child(even),
  .testimonial__people i:nth-child(odd) {
    margin: 0;
  }
  .testimonial__speech-bubble {
    order: 1;
  }
  .testimonial__rect,
  .testimonial__rect1,
  .testimonial__rect2 {
    display: none;
  }
  .arrow-up {
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    right: 24px;
    bottom: 16px;
  }
}
